<h1>Routing Application</h1>
<nav>
  <a routerLink="/sign-in" routerLinkActive="active">Sign In</a>
  <a routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/alert" routerLinkActive="active">Alert</a>
  <a routerLink="/loader" routerLinkActive="active">Loader</a>
  <a routerLink="/drop" routerLinkActive="active">Drop Down</a>
  <a routerLink="/tabs" routerLinkActive="active">Tabs</a>
</nav>
<router-outlet></router-outlet>
